In [1]:
import os
import pandas as pd

In [2]:
data_folder = './data'
df = pd.read_csv(os.path.join(data_folder, 'train.csv'))
print(df.shape)
df.head()

(3311925, 118)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,d7e73c5f-2db8-4089-9bee-d3a0e045f87f,1100023,Ariquemes,11,RO,31.0,F,0,1,1,...,B,A,A,B,A,A,C,A,B,B
1,668bf6e4-ddf7-4810-b31e-7d325e36de4d,3106200,Belo Horizonte,31,MG,23.0,F,1,3,1,...,A,A,A,B,A,A,C,A,B,B
2,951e80d6-ac9b-4ff2-8130-fcbc8ac78b16,3139409,Manhuaçu,31,MG,17.0,M,0,3,1,...,B,A,B,C,B,B,D,A,B,B
3,baf409f9-ddc6-4e82-9a4b-b64b579cd105,2506301,Guarabira,25,PB,16.0,M,1,1,1,...,B,A,A,B,A,A,E,A,A,B
4,9fd415ac-3421-44ce-810e-599545c3c025,2304400,Fortaleza,23,CE,19.0,M,1,1,1,...,B,A,A,E,B,B,C,B,B,B

In [3]:
df.columns = df.columns.str.lower()
df.head()

,nu_inscricao,co_municipio_residencia,no_municipio_residencia,co_uf_residencia,sg_uf_residencia,nu_idade,tp_sexo,tp_estado_civil,tp_cor_raca,tp_nacionalidade,...,q016,q017,q018,q019,q020,q021,q022,q023,q024,q025
0,d7e73c5f-2db8-4089-9bee-d3a0e045f87f,1100023,Ariquemes,11,RO,31.0,F,0,1,1,...,B,A,A,B,A,A,C,A,B,B
1,668bf6e4-ddf7-4810-b31e-7d325e36de4d,3106200,Belo Horizonte,31,MG,23.0,F,1,3,1,...,A,A,A,B,A,A,C,A,B,B
2,951e80d6-ac9b-4ff2-8130-fcbc8ac78b16,3139409,Manhuaçu,31,MG,17.0,M,0,3,1,...,B,A,B,C,B,B,D,A,B,B
3,baf409f9-ddc6-4e82-9a4b-b64b579cd105,2506301,Guarabira,25,PB,16.0,M,1,1,1,...,B,A,A,B,A,A,E,A,A,B
4,9fd415ac-3421-44ce-810e-599545c3c025,2304400,Fortaleza,23,CE,19.0,M,1,1,1,...,B,A,A,E,B,B,C,B,B,B

In [4]:
drop_columns = [
    'nu_inscricao',
    'co_municipio_residencia',
    'co_uf_residencia',
    'co_municipio_nascimento',
    'co_uf_nascimento',
    'co_municipio_esc',
    'co_uf_esc',
    'co_municipio_prova',
    'co_uf_prova'
]
df = df.drop(columns=drop_columns)

In [5]:
tp_sexo = {
    'M': 'Masculino',
    'F': 'Feminino'
}

tp_estado_civil = {
    0: 'Não informado',
    1: 'Solteiro(a)',
    2: 'Casado(a)/Mora com companheiro(a)',
    3: 'Divorciado(a)/Desquitado(a)/Separado(a)',
    4: 'Viuvo(a)'
}

tp_cor_raca = {
    0: 'Não declarado',
    1: 'Branca',
    2: 'Preta',
    3: 'Parda',
    4: 'Amarela',
    5: 'Indígena'
}

tp_nacionalidade = {
    0: 'Não informado',
    1: 'Brasileiro(a)',
    2: 'Brasileiro(a) Naturalizado(a)',
    3: 'Estrangeiro(a)',
    4: 'Brasileiro(a) Nato(a), nascido(a) no exterior'
}

tp_st_conclusao = {
    1: 'Já concluí o Ensino Médio',
    2: 'Estou cursando e concluirei o Ensino Médio no ano corrente',
    3: 'Estou cursando e concluirei o Ensino Médio após o ano corrente',
    4: 'Não concluí e não estou cursando o Ensino Médio'
}

tp_ano_concluiu = {
    0: 'Não informado',
    1: '2018',
    2: '2017',
    3: '2016',
    4: '2015',
    5: '2014',
    6: '2013',
    7: '2012',
    8: '2011',
    9: '2010',
    10: '2009',
    11: '2008',
    12: '2007',
    13: 'Antes de 2007',
}

tp_escola = {
    1: 'Não respondeu',
    2: 'Pública',
    3: 'Privada',
    4: 'Exterior'
}

tp_ensino = {
    1: 'Ensino Regular',
    2: 'Educação Especial - Modalidade Substitutiva',
    3: 'Educação de Jovens e Adultos'
}

tp_dependencia_adm_esc = {
    1: 'Federal',
    2: 'Estadual',
    3: 'Municipal',
    4: 'Privada'
}

tp_localizacao_esc = {
    1: 'Urbana',
    2: 'Rural'
}

tp_sit_func_esc = {
    1: 'Em atividade',
    2: 'Paralisada',
    3: 'Extinta'
}

tp_presenca = {
    0: 'Faltou à prova',
    1: 'Presente na prova',
    2: 'Eliminado na prova'
}

tp_lingua = {
    0: 'Inglês',
    1: 'Espanhol'
}

tp_status_redacao = {
    1: 'Sem problemas',
    2: 'Anulada',
    3: 'Cópia Texto Motivador',
    4: 'Em Branco',
    6: 'Fuga ao tema',
    7: 'Não atendimento ao tipo textual',
    8: 'Texto insuficiente',
    9: 'Parte desconectada'
}

indicador = {
    0: 'Não',
    1: 'Sim'
}

q001_2 = {
    'A': 'Nunca estudou.',
    'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental.',
    'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.',
    'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.',
    'E': 'Completou o Ensino Médio, mas não completou a Faculdade.',
    'F': 'Completou a Faculdade, mas não completou a Pós-graduação.',
    'G': 'Completou a Pós-graduação.',
    'H': 'Não sei.'
}

q003_4 = {
    'A': 'Grupo 1: Lavrador, agricultor sem empregados, bóia fria, criador de animais (gado, porcos, galinhas, ovelhas, cavalos etc.), apicultor, pescador, lenhador, seringueiro, extrativista.',
    'B': 'Grupo 2: Diarista, empregado doméstico, cuidador de idosos, babá, cozinheiro (em casas particulares), motorista particular, jardineiro, faxineiro de empresas e prédios, vigilante, porteiro, carteiro, office-boy, vendedor, caixa, atendente de loja, auxiliar administrativo, recepcionista, servente de pedreiro, repositor de mercadoria.',
    'C': 'Grupo 3: Padeiro, cozinheiro industrial ou em restaurantes, sapateiro, costureiro, joalheiro, torneiro mecânico, operador de máquinas, soldador, operário de fábrica, trabalhador da mineração, pedreiro, pintor, eletricista, encanador, motorista, caminhoneiro, taxista.',
    'D': 'Grupo 4: Professor (de ensino fundamental ou médio, idioma, música, artes etc.), técnico (de enfermagem, contabilidade, eletrônica etc.), policial, militar de baixa patente (soldado, cabo, sargento), corretor de imóveis, supervisor, gerente, mestre de obras, pastor, microempresário (proprietário de empresa com menos de 10 empregados), pequeno comerciante, pequeno proprietário de terras, trabalhador autônomo ou por conta própria.',
    'E': 'Grupo 5: Médico, engenheiro, dentista, psicólogo, economista, advogado, juiz, promotor, defensor, delegado, tenente, capitão, coronel, professor universitário, diretor em empresas públicas ou privadas, político, proprietário de empresas com mais de 10 empregados.',
    'F': 'Não sei.'
}

q006 = {
    'A': 'Nenhuma renda.',
    'B': 'Até R$ 998,00.',
    'C': 'De R$ 998,01 até R$ 1.497,00.',
    'D': 'De R$ 1.497,01 até R$ 1.996,00.',
    'E': 'De R$ 1.996,01 até R$ 2.495,00.',
    'F': 'De R$ 2.495,01 até R$ 2.994,00.',
    'G': 'De R$ 2.994,01 até R$ 3.992,00.',
    'H': 'De R$ 3.992,01 até R$ 4.990,00.',
    'I': 'De R$ 4.990,01 até R$ 5.988,00.',
    'J': 'De R$ 5.988,01 até R$ 6.986,00.',
    'K': 'De R$ 6.986,01 até R$ 7.984,00.',
    'L': 'De R$ 7.984,01 até R$ 8.982,00.',
    'M': 'De R$ 8.982,01 até R$ 9.980,00.',
    'N': 'De R$ 9.980,01 até R$ 11.976,00.',
    'O': 'De R$ 11.976,01 até R$ 14.970,00.',
    'P': 'De R$ 14.970,01 até R$ 19.960,00.',
    'Q': 'Mais de R$ 19.960,00.'
}

q007 = {
    'A': 'Não.',
    'B': 'Sim, um ou dois dias por semana.',
    'C': 'Sim, três ou quatro dias por semana.',
    'D': 'Sim, pelo menos cinco dias por semana.'
}

q008_24 = {
    'A': 'Não.',
    'B': 'Sim, um.',
    'C': 'Sim, dois.',
    'D': 'Sim, três.',
    'E': 'Sim, quatro ou mais.'
}

q025 = {
    'A': 'Não',
    'B': 'Sim'
}

In [6]:
df['tp_sexo'] = df['tp_sexo'].replace(tp_sexo)
df['tp_estado_civil'] = df['tp_estado_civil'].replace(tp_estado_civil)
df['tp_cor_raca'] = df['tp_cor_raca'].replace(tp_cor_raca)
df['tp_nacionalidade'] = df['tp_nacionalidade'].replace(tp_nacionalidade)
df['tp_st_conclusao'] = df['tp_st_conclusao'].replace(tp_st_conclusao)
df['tp_ano_concluiu'] = df['tp_ano_concluiu'].replace(tp_ano_concluiu)
df['tp_escola'] = df['tp_escola'].replace(tp_escola)
df['tp_ensino'] = df['tp_ensino'].replace(tp_ensino)
df['tp_dependencia_adm_esc'] = df['tp_dependencia_adm_esc'].replace(tp_dependencia_adm_esc)
df['tp_localizacao_esc'] = df['tp_localizacao_esc'].replace(tp_localizacao_esc)
df['tp_sit_func_esc'] = df['tp_sit_func_esc'].replace(tp_sit_func_esc)
df[df.filter(like='tp_presenca_').columns] = df[df.filter(like='tp_presenca_').columns].replace(tp_presenca)
df['tp_lingua'] = df['tp_lingua'].replace(tp_lingua)
df['tp_status_redacao'] = df['tp_status_redacao'].replace(tp_status_redacao)
df[df.filter(like='in_').columns] = df[df.filter(like='in_').columns].replace(indicador)
df['q001'] = df['q001'].replace(q001_2)
df['q002'] = df['q002'].replace(q001_2)
df['q003'] = df['q003'].replace(q003_4)
df['q004'] = df['q004'].replace(q003_4)
df['q006'] = df['q006'].replace(q006)
df['q007'] = df['q007'].replace(q007)
df['q008'] = df['q008'].replace(q008_24)
df['q009'] = df['q009'].replace(q008_24)
df['q010'] = df['q010'].replace(q008_24)
df['q011'] = df['q011'].replace(q008_24)
df['q012'] = df['q012'].replace(q008_24)
df['q013'] = df['q013'].replace(q008_24)
df['q014'] = df['q014'].replace(q008_24)
df['q015'] = df['q015'].replace(q008_24)
df['q016'] = df['q016'].replace(q008_24)
df['q017'] = df['q017'].replace(q008_24)
df['q018'] = df['q018'].replace(q008_24)
df['q019'] = df['q019'].replace(q008_24)
df['q020'] = df['q020'].replace(q008_24)
df['q021'] = df['q021'].replace(q008_24)
df['q022'] = df['q022'].replace(q008_24)
df['q023'] = df['q023'].replace(q008_24)
df['q024'] = df['q024'].replace(q008_24)
df['q025'] = df['q025'].replace(q025)
df

,no_municipio_residencia,sg_uf_residencia,nu_idade,tp_sexo,tp_estado_civil,tp_cor_raca,tp_nacionalidade,no_municipio_nascimento,sg_uf_nascimento,tp_st_conclusao,...,q016,q017,q018,q019,q020,q021,q022,q023,q024,q025
0,Ariquemes,RO,31.0,Feminino,Não informado,Branca,Brasileiro(a),Aracruz,ES,Já concluí o Ensino Médio,...,"Sim, um.",Não.,Não.,"Sim, um.",Não.,Não.,"Sim, dois.",Não.,"Sim, um.",Sim
1,Belo Horizonte,MG,23.0,Feminino,Solteiro(a),Parda,Brasileiro(a),Belo Horizonte,MG,Já concluí o Ensino Médio,...,Não.,Não.,Não.,"Sim, um.",Não.,Não.,"Sim, dois.",Não.,"Sim, um.",Sim
2,Manhuaçu,MG,17.0,Masculino,Não informado,Parda,Brasileiro(a),Belo Horizonte,MG,Estou cursando e concluirei o Ensino Médio no ...,...,"Sim, um.",Não.,"Sim, um.","Sim, dois.","Sim, um.","Sim, um.","Sim, três.",Não.,"Sim, um.",Sim
3,Guarabira,PB,16.0,Masculino,Solteiro(a),Branca,Brasileiro(a),Guarabira,PB,Estou cursando e concluirei o Ensino Médio apó...,...,"Sim, um.",Não.,Não.,"Sim, um.",Não.,Não.,"Sim, quatro ou mais.",Não.,Não.,Sim
4,Fortaleza,CE,19.0,Masculino,Solteiro(a),Branca,Brasileiro(a),Fortaleza,CE,Já concluí o Ensino Médio,...,"Sim, um.",Não.,Não.,"Sim, quatro ou mais.","Sim, um.","Sim, um.","Sim, dois.","Sim, um.","Sim, um.",Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311920,Santa Luzia,MG,17.0,Feminino,Solteiro(a),Parda,Brasileiro(a),Belo Horizonte,MG,Estou cursando e concluirei o Ensino Médio no ...,...,"Sim, um.",Não.,"Sim, um.","Sim, dois.",Não.,Não.,"Sim, quatro ou mais.","Sim, um.","Sim, um.",Sim
3311921,Belo Horizonte,MG,19.0,Masculino,Solteiro(a),Parda,Brasileiro(a),Belo Horizonte,MG,Estou cursando e concluirei o Ensino Médio no ...,...,"Sim, um.",Não.,Não.,"Sim, um.","Sim, um.","Sim, um.","Sim, quatro ou mais.","Sim, um.","Sim, dois.",Sim
3311922,Passo Fundo,RS,17.0,Feminino,Solteiro(a),Branca,Brasileiro(a),Passo Fundo,RS,Estou cursando e concluirei o Ensino Médio apó...,...,"Sim, um.",Não.,"Sim, um.","Sim, um.","Sim, um.",Não.,"Sim, três.",Não.,"Sim, um.",Sim
3311923,Santa Maria,RS,27.0,Feminino,Casado(a)/Mora com companheiro(a),Parda,Brasileiro(a),Santa Maria,RS,Já concluí o Ensino Médio,...,Não.,Não.,Não.,"Sim, um.",Não.,Não.,"Sim, dois.",Não.,Não.,Não
3311924,São Paulo,SP,27.0,Feminino,Solteiro(a),Parda,Brasileiro(a),São Paulo,SP,Já concluí o Ensino Médio,...,Não.,Não.,"Sim, um.","Sim, um.",Não.,"Sim, um.","Sim, quatro ou mais.","Sim, um.","Sim, quatro ou mais.",Sim

In [7]:
df.to_csv(os.path.join(data_folder, 'intermediate.csv'))